<%= form_for(@clog) do |f| %>
  <% if @clog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clog.errors.count, "error") %> prohibited this clog from being saved:</h2>

      <ul>
      <% @clog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :view_runtime %><br />
    <%= f.text_field :view_runtime %>
  </div>
  <div class="field">
    <%= f.label :db_runtime %><br />
    <%= f.text_field :db_runtime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
